@use '../assets/styles/variables' as *;

.home {
  padding: 2rem;
  color: white;

  .audio-header {
    display: flex;
    flex-direction: column; // 👈 stack vertically
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem; // 👈 push a little space below hero
  }
  

  .play-toggle-btn {
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  .audio-player {
  position: fixed;
  bottom: 0;
  width: 100%; 
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  padding: 0.5rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

.audio-player.visible {
  opacity: 1;
  pointer-events: auto;
}

.custom-controls {
  position: fixed;
  bottom: 0;
  width: calc(100% - 40px);
  left: 50%;
  transform: translateX(-50%);
  background: #1c1c1c;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.custom-controls.visible {
  opacity: 1;
  pointer-events: auto;
}

.custom-controls.hidden {
  opacity: 0;
  pointer-events: none;
}



.custom-play-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.custom-progress-bar {
  flex: 1;
  height: 4px;
  background: #555;
  appearance: none;
  border-radius: 5px;
}

.current-time, .duration {
  font-size: 0.8rem;
}

.hero {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 5rem;

  h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1rem;
    animation: fadeIn 1.5s ease forwards;
  }

  p {
    font-size: 1.2rem;
    color: #aaa;
    letter-spacing: 2px;
    animation: fadeIn 2s ease forwards;
    animation-delay: 0.5s;
  }
}

/* Smooth fade animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}




}
